.nombre {
    font-family: "fenwick", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white;
}

.subheading {
    font-family: "azo-sans-web", sans-serif;
    font-weight: 300;
    font-style: bold;
    color: white;
}

.cuerpo {
    font-family: "fenwick", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: white;
}

