.card_container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 10px;

    width: 350px;
    height: 295px;

    background: linear-gradient(0deg, rgba(255, 255, 255, 0.07), rgba(255, 255, 255, 0.07)), linear-gradient(152.85deg, rgba(58, 129, 191, 0.08) 0%, rgba(65, 48, 90, 0.03) 100%);

    /* Note: backdrop-filter has minimal browser support */

    border-radius: 32px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}