.bar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    padding: 10px;
    column-gap: 10px;
    box-sizing: border-box;

    position: fixed;
    width: 100%;
    height: 70px;
    bottom: 0;

    background: linear-gradient(180deg, rgba(52, 12, 66) 0%, #111729 71.69%);
    box-shadow: 0px 0px 93px rgba(0, 0, 0, 0.8);
    border-radius: 20px 20px 0px 0px;
}

.bar_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
 .bar_btn > img {
     height: 30px;
 }