.body {
    margin: 0;
    padding: 0;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    width: 375px;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 300px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 375px;
    height: 300px;
}

/*css for manual slide navigation*/

.navigation_manual{
    position: absolute;
    width: 375px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual_btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual_btn:not(:last-child){
    margin-right: 40px;
}

.manual_btn:hover{
    background: #40D3DC;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}