.btn_link {
    text-decoration: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    border-radius: 30px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24124A;
    height: 50px;
}
.btn_back {
    width: 100%;
    background-color: #24124A;
    border-radius: 32px;
    box-shadow: 0px 0px 9px 0px #10101087;
}
.btn_border{
    width: 100%;
    padding: 2px;
    border-radius: 32px;
    background: linear-gradient(150.51deg, #AD00FF 1.6%, rgba(155, 111, 238, 0) 34.56%, rgba(76, 60, 175, 0) 63.47%, #6E3392 98.97%);
}
.btn h1 {
    margin: 0;
    color: #cebdff;
    font-size: 25px;
}
.btn_text{

    text-align: center;
}