.kard_kontainer_B {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    padding: 10px 10px 100px 10px;

}

.biggest_kontainer {
    max-height: 100%;
    width: 100%;
    position: relative;
    align-items: center;
    margin-top: 75px;
    margin-bottom: 705px;
    justify-content: space-between;
    box-sizing: border-box;
    flex-direction: column;
    overflow: auto;
}

.joker {
    height: 60px;
    width: 100%;
}